# Node
node_modules/
*.log
npm-debug.log*

# Android
android/app/build/
android/.gradle/

# iOS
ios/Pods/

# System files
.DS_Store

# Envs
.env
.env.*

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.egg-info/
