_format_version: "3.0"

services:
  - name: auth-service
    url: http://auth-service:9899
    routes:
      - name: auth-route
        paths:
          - /auth/v1
        strip_path: false
        preserve_host: false

  - name: user-service
    url: http://user-service:9810
    routes:
      - name: user-route
        paths:
          - /user/v1
        strip_path: false
        preserve_host: false
        plugins:
          - name: custom-auth
            config:
              auth_service_url: "http://auth-service:9899/auth/v1/ping"

  - name: expense-service
    url: http://expense-service:9821
    routes:
      - name: expense-route
        paths:
          - /expense/v1
        strip_path: false
        preserve_host: false
        plugins:
          - name: custom-auth
            config:
              auth_service_url: "http://auth-service:9899/auth/v1/ping"

  - name: ds-service
    url: http://ds-service:8010
    routes:
      - name: ds-route
        paths:
          - /v1/ds
        strip_path: false
        preserve_host: false
        plugins:
          - name: custom-auth
            config:
              auth_service_url: "http://auth-service:9899/auth/v1/ping"
